* {

  margin: 0;
  padding: 0;

}

body {

  background: #fff;
  color: #222;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.5;

}

.container {

  text-align: center;
  margin: 2cm;

}

.question {

  font-size: 24pt;
  font-weight: bold;
  line-height: 1.1;
  color: #444;

}

.answer {

  font-size: 144pt;
  line-height: 1;
  font-weight: bold;
  color: #222;

}