* {

  margin: 0;
  padding: 0;

}

body {

  background: #333;
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.5;

}

.container {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  text-align: center;

}

.main-content {

  align-self: center;
  display: block;
  width: 100%;

}

.question {

  font-size: 32px;
  font-size: 4vw;
  font-weight: bold;
  line-height: 1.1;
  color: rgba(255,255,255,.8);

}

.answer {

  font-size: 144px;
  font-size: 36vw;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  color: rgba(255,255,255,.8);
  text-shadow: -.05em .025em 0 rgba(0,0,255,.6), .05em .0125em 0 rgba(255,0,0,.6);

}